<!DOCTYPE html>
<html>
    <head>
        <title>RuneScape Item Prices</title>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery here -->
        <style>
            .clickable-item {
                cursor: pointer;
                text-decoration: underline;
                color: blue; /* You can choose your desired highlight color */
            }
        </style>
    </head>    
<body>
    <h1>RuneScape Item Prices</h1>

    <input type="text" id="search-input" name="search" autocomplete="off" placeholder="Search by Name">
    
    <table id="item-table" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Updated</th>
                <th>High Price</th>
                <th>Low Price</th>
                <th>Low Alch</th>
                <th>High Alch</th>
                <th>Buy Limit</th>
                <th>Release Date</th>
                <th>Examine</th>
                <th>Wiki URL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td class="item-name clickable-item" data-item-id="{{ item[0] }}">{{ item[1] }}</td> <!-- Added data-item-id attribute -->
                <td>{{ item[2] }}</td>
                <td>{{ item[7] }}</td>
                <td>{{ item[8] }}</td>
                <td>{{ item[9] }}</td>
                <td>{{ item[10] }}</td>
                <td>{{ item[11] }}</td>
                <td>{{ item[12] }}</td>
                <td>{{ item[13] }}</td>
                <td>{{ item[15] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="graph-container">
        <!-- The graph will be displayed here -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    
    <script>
        // Define a variable to store the last clicked item ID
        var lastClickedItemId = 1;
        // Function to load and display historical data for an item
        function displayHistoricalData(itemId) {
            console.log('Clicked on item with ID:', itemId);
            lastClickedItemId = itemId; // Store the ID of the last clicked item
            $.ajax({
                type: 'GET',
                url: '/historical_data/' + itemId,
                dataType: 'json',
                success: function(data) {
                    var timestamps = [];
                    var highPrices = [];
                    var lowPrices = [];
                    var timezoneOffset = new Date().getTimezoneOffset(); // Get the local timezone offset in minutes

                    // Convert timestamps to the desired format and adjust for timezone offset
                    for (var i = 0; i < data.length; i++) {
                        var timestamp = moment(data[i].timestamp).subtract(timezoneOffset, 'minutes');
                        timestamps.push(timestamp.format('YYYY-MM-DD HH:mm:ss'));
                        highPrices.push(data[i].price_high);
                        lowPrices.push(data[i].price_low);
                    }

                    // Create a canvas element to render the graph
                    var canvas = document.createElement('canvas');
                    canvas.id = 'item-graph';
                    document.getElementById('graph-container').innerHTML = '';
                    document.getElementById('graph-container').appendChild(canvas);

                    // Configure Chart.js
                    Chart.defaults.plugins.tooltip.callbacks.label = function(context) {
                        var label = context.dataset.label || '';
                        if (label) {
                            label += ': ';
                        }
                        label += context.parsed.y;
                        return label;
                    };

                    // Create the graph using Chart.js
                    var ctx = document.getElementById('item-graph').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [
                                {
                                    label: 'High Price',
                                    data: highPrices,
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    fill: false
                                },
                                {
                                    label: 'Low Price',
                                    data: lowPrices,
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    fill: false
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        displayFormats: {
                                            day: 'YYYY-MM-DD HH:mm:ss'
                                        }
                                    }
                                },
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        // Add click event listeners to item names
        var itemNames = document.querySelectorAll('.item-name');
        itemNames.forEach(function (item) {
            item.addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                // Update the last clicked item ID
                lastClickedItemId = itemId;
                displayHistoricalData(itemId);
            });
        });

        // Function to update the data periodically (every 5 minutes)
        function updateDataPeriodically() {
            // Check if a last clicked item exists
            console.log('Last clicked item ID:', lastClickedItemId);
            if (lastClickedItemId !== null) {
                // Update data for the last clicked item
                displayHistoricalData(lastClickedItemId);

                // Set an interval to update data every 5 minutes (300,000 milliseconds)
                setInterval(function() {
                    displayHistoricalData(lastClickedItemId); // Update data for the last clicked item
                }, 300000); // 300,000 milliseconds = 5 minutes
            }
        }

        // Call the function to update data periodically
        updateDataPeriodically();
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            $('#item-table').DataTable();
            
            // Load item names from decorated_items.json and use them in autocomplete
            var itemNames = {{ item_names | tojson | safe }};
            
            // Initialize the autocomplete widget
            $("#search-input").autocomplete({
                source: function(request, response) {
                    var limitedSuggestions = [];
                    var term = request.term.toLowerCase();
                    for (var i = 0; i < itemNames.length; i++) {
                        if (itemNames[i].toLowerCase().includes(term)) {
                            limitedSuggestions.push(itemNames[i]);
                            if (limitedSuggestions.length >= 5) {
                                break;
                            }
                        }
                    }
                    response(limitedSuggestions);
                },
                minLength: 2,  // Minimum characters to trigger autocomplete
                select: function(event, ui) {
                    $('#search-input').val(ui.item.value); // Set the input field value
                    $('#item-table').DataTable().search(ui.item.value).draw(); // Trigger the search
                    return false; // Prevent the widget from inserting the selected value
                }
            });
        });
    </script>
</body>
</html>
